.home-container{
    width: 80%;
}
.home-content{
    margin-top: 120px;
}
.text-container{
    width: 35%;
    margin-top: 80px;
    float: left;
}
.home-image{
    height: 400px;
    border-radius: 20px;
    float: right;
}
.text-container .btn{
    padding-left: 25px;
    padding-right: 25px;
}
.text-container .bottom-content{
    margin-top: 60px;
}
.text-container .bottom-content img{
    width: 120px;
}
.text-container .bottom-content .bottom-image{
    float: left;
}
.text-container .bottom-content .bottom-text{
    float: left;
    margin-left: 30px;
    margin-top: 5px;
}
